<form class="form-horizontal" action = "http://aelsakka-aelsakka.c9users.io:8080/food" method ="post">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="newfood">New food</label>  
  <div class="col-md-4">
  <input id="newfood" name="newfood" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit">submit</label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
</form>
