<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>

<!-- Optional theme -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous'>

<!-- Latest compiled and minified JavaScript -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
        
    </head>
    
    <body>
        <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Hello Everyone !
				</h2>
				<p>
					In this webisite you will know more about IS major. Please login to continue
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="http://aelsakka-aelsakka.c9users.io:8080/main/login">Login</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
		     
		    <%=yield%> 
		
			
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
<style>

body.cmu {
   background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwip2oOA9vrYAhURU1AKHdVtANwQjRwIBw&url=https%3A%2F%2Fweb2.qatar.cmu.edu%2Filiano%2Fprojects%2Fnexcel%2Fpostdoc%2F&psig=AOvVaw2nJ96Lb9TkRE10hJXuP0lm&ust=1517237959448680")
   }
</style>  

    </body>
    
</html>