<html>
	<body class="cmu">

	<p style = background-color: "red">
	I have chosen IS because I believe that the knowlege and experience
	I will gain in CMUQ as an IS student, will help me solve real world problems. 
	Im interested in the web development part and I believe studing IS in CMU, will 
	increase my knowlledge in this part and allow me to get exposed to different and other parts of IS. All the knowledge
	I will learn now, will allow me to work in the best places in the future.
	
			</body>
</html>