<html>
    <body>
        <h3>
        User Email : <%=@Email %> <br/>
        User Password : <%=@Password %>
        </h3>
<form class="form-horizontal" action="http://aelsakka-aelsakka.c9users.io:8080/main/cmu">
<fieldset>

<!-- Form Name -->
<legend>Welcome</legend>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit">Click Here To Continue </label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary" >Button</button>
  </div>
</div>

</fieldset>
</form>
    </body>
</html>