<form class="form-horizontal" method='post' action='http://aelsakka-aelsakka.c9users.io:8080/main'>
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="food">Food</label>  
  <div class="col-md-4">
  <input id="food" name="food" type="text" placeholder="NewFood" class="form-control input-md" required="">
  <span class="help-block">help</span>  
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit">Submit</label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
